# Evidence / Svelte
.evidence/template
.evidence/meta
.svelte-kit
build
static/data

# Node
node_modules

# Configurações locais / credenciais
.env
*.options.yaml

# Editor / sistema operacional
.vscode/settings.json
.DS_Store

# Banco local
*.duckdb
*.duckdb.wal

# Logs
*.log
npm-debug.log*